.daily-summary-container {
  display: flex;
  flex-direction: row;
}

.left-side-container {
  width: 60%;
}

.right-side-container {
  align-items: flex-end;
  display: flex;
  width: 40%;
  flex-direction: column;
}

.daily-percentage {
  margin: unset;
}
