.daily-summary-container {
  background-color: #ffffff;
  box-shadow: 7px 3px 40px -4px rgba(211,211,211,1);
  color: #888888;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: 229px;
}

.date-shown {
  background-color: #ffffff;
  color: #111111;
  font-size: 26px;
  margin-right: 35px;
  margin-top: 15px;
}

.all-top-card {
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%
}

.top-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.logo-area {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
}

.bottom-card {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

.numbers-shown {
  font-size: 18px;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  margin-top: 7px;
  padding: 25px;
  width: 250px;
}

.products-right {
  border-left: 1px solid #dee2e6;
  padding-left: 30px;
}

.daily-totals {
  font-size: 18px;
  background-color: #ffffff;
  color: #111111;
}

.percentage {
  background-color: #ffffff;
  color: #1de9b6;
  font-size: 18px;
  margin-bottom: 15px;
  margin-right: 35px;
}

.high {
  background-color: #ffffff;
  color: #1de9b6;
}

.low {
  background-color: #ffffff;
  color: #f44236;
}

.nutrien-logo {
  box-shadow: none;
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  margin: unset;
  padding: 15px;
}