* {
  background-color: #f4f7fa;
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.daily-summary {
  /*height: 250px;*/
  margin-left: 20px;
  width: 435px;
}